* {
  box-sizing: border-box;
  overflow: hidden;
}

/*General Font*/
@font-face{
  font-family: 'Source Code Pro', monospace;
  src: url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap'), format('truetype');
}

/*Preset Colours*/
:root{
  --comp-col-01:#222323;
  --comp-col-02:#ff4adc;
  --comp-col-03:#3dff98;
}

body {
  margin: 0;
  font-family: 'Source Code Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--comp-col-01); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#l-u-wrapper{
  width: 100vw;
  height: 10vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
#l-u-text{
  font-size: 3vw;
  background: linear-gradient(90deg, rgba(34,193,195,1) 0% 50%, rgba(253,187,45,1) 50% 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}